@font-face {
  font-family: 'toutiao';
  /* Project id 3648478 */
  src: url('//at.alicdn.com/t/c/font_3648478_hwvla1rdgtg.woff2?t=1663164454686') format('woff2'), url('//at.alicdn.com/t/c/font_3648478_hwvla1rdgtg.woff?t=1663164454686') format('woff'), url('//at.alicdn.com/t/c/font_3648478_hwvla1rdgtg.ttf?t=1663164454686') format('truetype');
}
.toutiao {
  font-family: 'toutiao' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.toutiao-pinglun:before {
  content: '\e601';
}
.toutiao-gengduo:before {
  content: '\e602';
}
.toutiao-dianzan:before {
  content: '\e603';
}
.toutiao-guanbi:before {
  content: '\e604';
}
.toutiao-shouji:before {
  content: '\e605';
}
.toutiao-sousuo:before {
  content: '\e606';
}
.toutiao-shouye:before {
  content: '\e607';
}
.toutiao-fenxiang:before {
  content: '\e608';
}
.toutiao-shanchu:before {
  content: '\e609';
}
.toutiao-yanzhengma:before {
  content: '\e60a';
}
.toutiao-wenda:before {
  content: '\e60b';
}
.toutiao-yuedu:before {
  content: '\e60c';
}
.toutiao-wode:before {
  content: '\e60d';
}
.toutiao-zuojiantou:before {
  content: '\e60e';
}
.toutiao-youjiantou:before {
  content: '\e60f';
}
.toutiao-wuwangluo:before {
  content: '\e610';
}
.toutiao-shoucang:before {
  content: '\e611';
}
.toutiao-shipin:before {
  content: '\e612';
}
.toutiao-zuopin:before {
  content: '\e613';
}
.toutiao-lishi:before {
  content: '\e614';
}
